* {
    color: #21232A;
}
.avatar {
    border-radius: 100em;
}

.description {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Roboto Mono';
}
.title {
    font-weight: 400;
    font-family: 'Roboto Mono';
}
body, html {
    height: 100%;
}
.navbar-custom {
    background-color: #ffffff;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color:#21232A;
    font-size: 35px;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #595b61;
    font-size: 20px;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #21232A;
}

.img-proyect {
    cursor: pointer;
    transition: all 0.2s ease 0s;
    z-index: 1;
}
.img-proyect:hover {
    filter: blur(3px);
    transform: scale(1.02);
}
section {
    transition: all 0.3s ease 0s;
}
